[Unit]
Description=Phosphor GPIO %I monitor
Requires=dev-platform_gpio_keys.device
After=dev-platform_gpio_keys.device

[Service]
Restart=no
EnvironmentFile=/etc/default/obmc/gpio/%I
ExecStart=/usr/bin/phosphor-gpio-monitor --path=${DEVPATH} --key=${KEY} --polarity=${POLARITY} --target=${TARGET} ${EXTRA_ARGS}
