[Unit]
Description=Phosphor Multi GPIO monitor

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/phosphor-multi-gpio-monitor --config /usr/share/phosphor-gpio-monitor/phosphor-multi-gpio-monitor.json
